body{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  }
  
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  nav{
    /* ff 3.6+ */
    background:-moz-linear-gradient(103deg, rgba(255, 0, 0, 1) 0%, rgba(255, 116, 0, 1) 15%, rgba(244, 229, 54, 1) 32%, rgba(109, 244, 3, 1) 43%, rgba(130, 238, 227, 1) 56%, rgba(54, 177, 244, 1) 65%, rgba(57, 109, 220, 1) 77%, rgba(147, 58, 183, 1) 86%); 
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(103deg, rgba(255, 0, 0, 1) 0%, rgba(255, 116, 0, 1) 15%, rgba(244, 229, 54, 1) 32%, rgba(109, 244, 3, 1) 43%, rgba(130, 238, 227, 1) 56%, rgba(54, 177, 244, 1) 65%, rgba(57, 109, 220, 1) 77%, rgba(147, 58, 183, 1) 86%);
  
    /* opera 11.10+ */
    background:-o-linear-gradient(103deg, rgba(255, 0, 0, 1) 0%, rgba(255, 116, 0, 1) 15%, rgba(244, 229, 54, 1) 32%, rgba(109, 244, 3, 1) 43%, rgba(130, 238, 227, 1) 56%, rgba(54, 177, 244, 1) 65%, rgba(57, 109, 220, 1) 77%, rgba(147, 58, 183, 1) 86%);
  
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#933AB7', endColorstr='#FF0000', GradientType=0 );
  
    /* ie 10+ */
    background:-ms-linear-gradient(103deg, rgba(255, 0, 0, 1) 0%, rgba(255, 116, 0, 1) 15%, rgba(244, 229, 54, 1) 32%, rgba(109, 244, 3, 1) 43%, rgba(130, 238, 227, 1) 56%, rgba(54, 177, 244, 1) 65%, rgba(57, 109, 220, 1) 77%, rgba(147, 58, 183, 1) 86%);
  
    /* global 94%+ browsers support */
    background:linear-gradient(103deg, rgba(255, 0, 0, 1) 0%, rgba(255, 116, 0, 1) 15%, rgba(244, 229, 54, 1) 32%, rgba(109, 244, 3, 1) 43%, rgba(130, 238, 227, 1) 56%, rgba(54, 177, 244, 1) 65%, rgba(57, 109, 220, 1) 77%, rgba(147, 58, 183, 1) 86%);
    height: 80px;
  }
  
  label.logo{
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 80px;
    padding: 0 50px;
  }
  
  
  nav ul{
    float: right;
    margin: right;
  }
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a{
    color: lightgray;
    background: radial-gradient(0deg, white 0%, gray 100%);
    font-weight: 500;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a:hover{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
    font-weight: 700;
    color: white;
    z-index: -1;
  }
  
  a.active{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(31, 63, 81, 1) 0%, rgba(30, 43, 44, 1) 50%, rgba(0, 0, 0, 1) 100%);
    font-weight: 700;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
  }
  
  a:after{
    z-index: -1;
    transition: all 0.3s ease;
    top: 2px;
  }
  
  a:hover:after {
    top: 0;
    height: 100%;
  }
  
  a:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  
  a.active span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
  
  .search {
    float: left;
    color: lightcyan;
    padding: 12px 23px;
    margin-top: 18px;
    border-radius: 2px;
  }
  
  