body{
  background: darkslategray;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background: linear-gradient(90deg, teal 0%, turquoise 90%);
  height: 80px;
}

label.logo{
  font-size: 35px;
  color: white;
  font-weight: bold;
  line-height: 80px;
  padding: 0 50px;
}


nav ul{
  float: right;
  margin: right;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: teal;
  background: linear-gradient(0deg, cyan 0%, turquoise 100%);
  font-weight: 500;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover{
  background: linear-gradient(0deg, seagreen 0%, darkcyan 100%);
  color: white;
  font-weight: 700;
  z-index: -1;
}

a.active{
  background: linear-gradient(0deg, seagreen 0%, darkcyan 100%);
  color: white;
  font-weight: 700;
  z-index: -1;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}

a:after{
  z-index: -1;
  transition: all 0.3s ease;
  top: 2px;
}

a:hover:after {
  top: 0;
  height: 100%;
}

a:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

a.active span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.search {
  float: left;
  color: lightcyan;
  padding: 12px 23px;
  margin-top: 18px;
  border-radius: 2px;
}

